body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: white;
}

ul, a, address {
	text-decoration: none;
	list-style-type: none;
	color: inherit;
	font-style: normal;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

button {
	cursor: pointer;
}

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

/* ----------------Header start----------------- */

.header {
	border-bottom: 1px solid #e7e9fc
}

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.ul-menu {
	display: flex;
	gap: 40px;
}

.address-container-header {
	display: flex;
	gap: 40px;
}

.logo-header-container {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.header-container {
	display: flex;
}

header {
	border-bottom: 1px solid #434455;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.menu {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;

	display: block;
	padding: 24px 0;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-first-item {
	color: #404bbf;;
	position: relative;
}

.menu:hover,
.menu:focus {
	color: #404bbf;
}

.menu-first-item::after { /* Баг чи у мене, чи в автоперевірці: автоперевірка вважає що цього стовпчика коду не існує і не зараховує, якщо написано ось так - ul-menu .menu:hover::after */
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	content: '';
	border-radius: 2px;
	width: 100%;
	height: 4px;
	background: #404bbf;
}

.one-more-color {
	color: #434455;
	font-weight: 400;
}

.logo-text {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	position: relative;
}
.web-text {
	font-family: "Raleway" sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.address-a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.logo-text-wrapper {
	margin-right: 76px;
}

/* ----------------Header end----------------- */

/* ----------------Main start----------------- */
/* ----------------Section-hero start----------------- */

.section-first {
	background-color: #2e2f42;
	padding-top: 188px;
	padding-bottom: 188px;
	background-image: linear-gradient(
		to bottom,
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)
	), url(../images/people-office-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	max-width: 1440px;
	margin: 0 auto;
}

.h-title-hero {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fff;
	max-width: 496px;
	margin: 0 auto;
	margin-bottom: 8px;
}

.button-purple {
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #4D5AE5;
	width: 169px;
	height: 56px;
	border-radius: 4px;
	border: none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 48px;
	display: block;
	min-width: 169px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-wrapper {
	display: flex;
	flex-direction: column;
}

.button-purple:hover,
.button-purple:focus {
	background-color: #404BBF
}

/* ----------------Section-hero end----------------- */

/* ----------------Section-features start----------------- */

.section-our-features .features-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.section-our-features .features-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.features-ul-wrapper {
	display: flex;
	gap: 24px;
}

.features-item-wrapper {
	width: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.features-icon-box {
	display: flex;
	border: 1px solid #8e8f99;
	border-radius: 4px;
	width: 264px;
	height: 112px;
	background: #f4f4fd;
	margin-bottom: 8px;
	justify-content: center;
	align-items: center;
}



/* ----------------Section-features end----------------- */

/* ----------------Section-our-team start----------------- */

.our-team {
	background: #f4f4fd;
}

.section-team {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 72px;
}

.team-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
}

.team-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #434455;
}

.team-li {
	background-color: #FFFFFF;
	width: calc((100% - 3 * 24px) / 4);
	border-radius: 0 0 4px 4px;
	padding: 0px 0px 32px 0px;
	width: 264px;
	height: 430px;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
	background: #fff;
}

.team-title-wrapper {
	text-align: center;
	margin-bottom: 8px;
}

.team-p-wrapper {
	text-align: center;
}

.team-wrapper {
	display: flex;
	gap: 24px;
}

.team-text-wrapper {
	padding: 32px 0;
}


.icon-list {
	display: flex;
	gap: 24px;
	justify-content: center;
	align-items: center;
	padding-top: 8px;
}

.icon-item {
	width: 40px;
	height: 40px;
}

.icon-link {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #4D5AE5;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Деякі закоментовані рядки коду залишив для себе - для нагадування, бо грався з елементами, чи ще з якихось інших причин(все ж таки навчання, а не реальний проєкт)⁡ */

.icon-svg {
	fill: #f4f4fd; /* Для того щоб прибрати warning */
	/* width: 16px;
	height: 16px; */
}

.team-li .icon-link:hover {
	background-color: #404bbf;
	/* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.team-li .icon-link:focus {
	background-color: #404bbf;
}

.team-li .icon-link:active {
	background-color: #404bbf;
}

/* .team-li .icon-link:hover {
	background-color: #31D0AA;
	scale: 1.5;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* ----------------Section-our-team end---------------- */

/* ----------------Section-portfolio start----------------- */

.section-portfolio {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 72px;
}

.section-portfolio {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
}

.portfolio-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.portfolio-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.section-portfolio .portfolio-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.portfolio-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
}

.portfolio-text-wrapper {
	border-bottom: 1px solid #E7E9FC;
	border-left: 1px solid #E7E9FC;
	border-right: 1px solid #E7E9FC;
	border-top: none;
	padding: 32px 16px;
	width: 360px;
	height: 120px;
}

.empty-class-for-autocheck {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.empty-class-for-autocheck:hover {
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
	/* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}


.portfolio-box {
	position: relative;
	overflow: hidden;
}

.portfolio-box-paragraph {
	position: absolute;
	top: 0;
	background-color: #4D5AE5;
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 40px 32px;
}

.empty-class-for-autocheck:hover .portfolio-box-paragraph {
	transform: translateY(0%);
}
/* ----------------Section-portfolio end----------------- */
/* ----------------Main end----------------- */

/* ----------------Footer start----------------- */
.footer-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
}

.footer {
	background: #2e2f42;
	padding: 100px 0;
}

.logo-studio {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
}

.logo-studio-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
}

.footer-wrapper {
	display: flex;
	align-items: baseline;
}

.footer-wrapper .footer-text {
	width: 264px;
	align-self: left;
}

.footer-logo-text {
	display: inline-block;
	margin-bottom: 16px;
}

.footer-p-social {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 16px;
}


.icon-list.basement {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0;
	gap: 16px;
}

.icon-item.basement {
	width: 40px;
	height: 40px;
}

.div-social-basement {
	display: flex;
	align-items: baseline;
	margin-right: 120px;
	flex-direction: column;
}

.footer-wrapper {
	position: relative;
}

.footer-logo-and-paragraph {
	margin-right: 120px;
}

.div-social-basement .icon-link {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-social-basement .icon-link:hover {
	background-color: #31d0aa;
}

.div-social-basement .icon-link:focus {
	background-color: #31d0aa;
}
/* ----------------Footer end----------------- */